# docs requirements
# these requirements are used by the documentation builder
# these are placed here (rather than in pyproject.toml) because we want to be able
# to build the documentation without installing the package (which is time-consuming)

aiohttp~=3.13
webargs~=8.7
appdirs~=1.4

sphinx~=8.2 # BSD
sphinx-autoapi~=3.6.0
sphinx-rtd-theme~=3.0.2
sphinxcontrib-openapi~=0.8.4
sphinxcontrib-redoc~=1.6

# required for building OpenAPI spec
apispec[yaml]~=6.8
marshmallow~=3.22  # needed for apidocs
